*{
    margin: 0px; 
    padding: 0px;
}
.test{
    display: flex;
    justify-content: center;
    color: blue;
    cursor: pointer;

}
#test{
    width: 500px;
    height: 50px;
}
.box{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: red;
    width: 110px;
    margin: 10px;
    padding: 50px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
